@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam";
}
body
{
    overflow-x: hidden;
    background-color: rgb(175, 143, 111) !important;

}
ul
{
    
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(193, 154, 107) !important;
    transition: all 0.5s ease-in-out;
}
a:hover{
    color: #F8F4E1 !important;
} 
.navbar{
    position: relative;
}
.navbar-collapse{
    text-align: center;
}

.navbar-light .navbar-toggler:focus{
    color:#F8F4E1;
    box-shadow: 0 0 0 2px;
}
.navbar ul li{
    position: relative;
    margin-left: 2.5rem;
    margin-right: 1rem;
}
.navbar.navbar-expand-lg {
    background-color: rgb(111, 78, 55) !important;}
.navbar ul li a{
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;

}

/*home section*/
.home-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #74512D;
}
.home-section .home-title{
    position: relative;
    font-family:"New Amsterdam";
    color: #74512D;
}
#banner-img
{
    margin-top: 50px;
}
.home-section .home-desc{
    position: relative;
    font-size: 22px;
    font-weight: 500;
}
.home-section .home-btn{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.home-btn{
    color: #74512D !important;
}


/* about section */

.about-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-section .about-title{
    position: relative;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #5f3f1f;
}
.about-desc{
    color: #74512D;
    font-size: 22px;
    font-weight: 500;
}

/* Interests */
.interest-imgs{
    padding-top: 50px;
}

.interests-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.interests-section .int-title{
    position: relative;
    padding-top: 3rem;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5f3f1f;
}

.interests-section .int-desc{
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color: #74512D;
}
/* contact */

.contact-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact-section .contact-title{
    position: relative;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #74512D;
}

.contact-section p{
    position: relative;
    font-size: 22px;
    font-weight: 500;
}

.contact-section p b{
    color: #966b3a;
}

#contact-img{
    margin-top: 50px;
}

/*footer*/

footer{
    position: relative;
    padding-top: 50px;
}
footer .social-media .footer-list{
    position: relative;
    margin: 0 0 20px 0;
    display: inline-block;
}
footer .social-media .footer-list li{
    float: left;
    margin-right: 10px
}
footer .social-media .footer-list li a{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.5rem;
}